<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 th:text="${title}"/>
</div>
<div class="container mt-5">
    <h6>Администрирование учетных записей пользователей</h6>
    <a href="admin/all-users">Пользователи</a>
</div>
</body>
</html>