<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Статистика по педагогам</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
        :root {
            --bs-body-color: #000000;
        }

    </style>
</head>
<body>
<header th:insert="blocks/header2 :: header2"></header>

<!-- Modal windows for accepting delete -->
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<div th:insert="blocks/sidebar :: sidebar"></div>
<div class="container main-content">

  <h1 class="text-center mb-4">Статистика по педагогам</h1>

  <div class="container">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>ФИО</th>
        <th>Всего учеников</th>
        <th>Всего участий в мероприятиях</th>
        <th>Международные участия</th>
        <th>Первые места</th>
        <th>Вторые места</th>
        <th>Третьи места</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="t : ${total}">
        <td th:text="${t.fio}"></td>
        <td th:text="${t.numKids}"></td>
        <td th:text="${t.numMerop}"></td>
        <td th:text="${t.numTopMerop}"></td>
        <td th:text="${t.numFirst}"></td>
        <td th:text="${t.numSecond}"></td>
        <td th:text="${t.numThird}"></td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/chart.js"></script>
</body>
</html>
</body>
</html>