<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Статистика по детям</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        :root {
            --bs-body-color: #000000;
        }


    </style>

</head>
<body>
<header th:insert="blocks/header2 :: header2"></header>

<!-- Modal windows for accepting delete -->
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<div th:insert="blocks/sidebar :: sidebar"></div>
<div class="container main-content">

    <h1 class="text-center mb-4">Статистическая информация о воспитанниках</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--        <canvas id="chartByGender"></canvas>-->
                <canvas id="gender-chart" class="chart" style="height: 100%"></canvas>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <canvas id="chartByCitizenship"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="napr-chart" class="chart"></canvas>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <canvas id="chartByDost"></canvas>
            </div>
        </div>
        <hr>
        <button class="btn btn-sm btn-outline-success" onclick="generateExcelDocument()">В Excel</button>
        <table class="table table-striped" id="stat">
            <thead>
            <tr>
                <th>ПДО</th>
                <th>Название объединения</th>
                <th>Всего</th>
                <th>М</th>
                <th>Д</th>
                <th>РФ</th>
                <th>РК</th>
                <th>Другое</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${total}">
                <td th:text="${t.pdo}"></td>
                <td th:text="${t.caName}"></td>
                <td th:text="${t.total}"></td>
                <td th:text="${t.m}"></td>
                <td th:text="${t.f}"></td>
                <td th:text="${t.rf}"></td>
                <td th:text="${t.rk}"></td>
                <td th:text="${t.o}"></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/chartjs-plugin-datalabels.min.js"></script>
<script src="/js/exceljs.min.js"></script>
<!--<script src="/js/xlsx.full.min.js"></script>-->
<script th:inline="javascript">
 var listGender = /*[[${dataByGender}]]*/ '';
 var listCitizenship = /*[[${dataByCitizenship}]]*/ '';
 var listNapr = /*[[${labelNapr2}]]*/ '';
 var listDostNum = /*[[${numDost}]]*/ '';

      // Данные для первой диаграммы (количество детей по полу)
      const dataByGender = {
        labels: ['Мальчики', 'Девочки'],
        datasets: [
          {
            label: 'Количество детей по полу',
            data: listGender,
            backgroundColor: [
              'rgba(255, 99, 132, 0.5)',
              'rgba(54, 162, 235, 0.5)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1,
          },
        ],
      };

      // Конфигурация первой диаграммы
      const configByGender = {
        type: 'pie',
        data: dataByGender,
      };

      // Отрисовка первой диаграммы на странице
     // const chartByGender = new Chart(
     //   document.getElementById('chartByGender'),
     //   configByGender
     // );

      // Данные для второй диаграммы (количество детей по гражданству)
      const dataByCitizenship = {
  labels: ['Граждане РФ', 'Граждане РК', 'Другое гражданство'],
  datasets: [
    {
      label: 'Количество детей по гражданству',
      data: listCitizenship,
      backgroundColor: [
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(153, 102, 255, 0.5)',
      ],
      borderColor: [
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
      ],
      borderWidth: 1,
    },
  ],
};





////опции для 2 диаграммы
//const optionsCitizenship = {
//  plugins: {
//    datalabels: {
//      color: {
//        // Используйте цвет текста, который подходит к вашей диаграмме
//        // Например, 'rgba(255, 255, 255, 1)' для белого текста
//        // Или 'rgba(0, 0, 0, 1)' для черного текста
//        rgba(0, 0, 0, 1),
//        anchor: 'end',
//        align: 'end',
//        formatter: (value, ctx) => {
//          let datasets = ctx.chart.data.datasets;
//          let sum = datasets[0].data.reduce((a, b) => a + b, 0);
//          let percentage = Math.round((value / sum) * 100) + '%';
//          return percentage;
//        },
//      },
//    },
//  },
//};

     // Конфигурация второй диаграммы
      const configByCitizenship = {
        type: 'pie',
        data: dataByCitizenship
      //  options: optionsCitizenship
      };

const chartByCitizenship = new Chart(
  document.getElementById('chartByCitizenship'),
  configByCitizenship
);

// Данные для третей диаграммы (количество достижений по направлениям)
      const dataByDost = {
        labels: listNapr,
        datasets: [
          {
            label: 'Количество достижений по направлениям',
            data: listDostNum,
 backgroundColor: generateColorsWithAlpha(listDostNum.length, 0.5),
      borderColor: generateColorsWithAlpha(listDostNum.length, 1),
            borderWidth: 1,
          },
        ],
      };
// Конфигурация третей диаграммы
      const configByDost = {
        type: 'pie',
        data: dataByDost,
      };

      // Отрисовка третей диаграммы на странице
        const chartByDost = new Chart(
        document.getElementById('chartByDost'),
        configByDost
        );

// Функция для генерации случайного цвета с указанным альфа-каналом
function generateRandomColorWithAlpha(alpha) {
  const letters = '0123456789ABCDEF';
  let color = 'rgba(';
  for (let i = 0; i < 3; i++) {
    color += Math.floor(Math.random() * 256) + ',';
  }
  color += alpha + ')';
  return color;
}

// Функция для генерации массива случайных цветов с указанным альфа-каналом
function generateColorsWithAlpha(count, alpha) {
  const colors = [];
  for (let i = 0; i < count; i++) {
    colors.push(generateRandomColorWithAlpha(alpha));
  }
  return colors;
}

document.addEventListener('DOMContentLoaded', function() {
var listMAges = /*[[${dataByAgesM}]]*/ '';
var listFAges = /*[[${dataByAgesF}]]*/ '';
var labelNapr = /*[[${labelNapr}]]*/ '';
var arrNapr =  /*[[${arrNapr}]]*/ '';
            var ctx = document.getElementById('gender-chart').getContext('2d');
            var ctx2 = document.getElementById('napr-chart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['3-5 лет', '6-8 лет', '9-11 лет', '12-15 лет', '16-17 лет'],
                    datasets: [{
                        label: 'Мальчики',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        data: listMAges
                    }, {
                        label: 'Девочки',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        data: listFAges
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            beginAtZero: true,
                            stacked: true
                        },
                        y: {
                            beginAtZero: true,
                            stacked: true
                        }
                    }
                }
            });

            var chart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labelNapr,
                    datasets: [{
                        label: 'Воспитанники',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        data: arrNapr
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            beginAtZero: true,
                            stacked: true
                        },
                        y: {
                            beginAtZero: true,
                            stacked: true
                        }
                    }
                }
            });
        });

//////////////////////////////////// EXCEL /////////

function generateExcelDocument() {
  const date = new Date().toLocaleDateString();

  const num_all = [[${num_all}]];  // Пример значения переменной
  const num_m =   [[${num_m}]];    // Пример значения переменной
  const num_f =   [[${num_f}]];    // Пример значения переменной
  const num_rf =  [[${num_rf}]];   // Пример значения переменной
  const num_rk =  [[${num_rk}]];   // Пример значения переменной
  const num_o =   [[${num_o}]];    // Пример значения переменной

  // Создание нового экземпляра книги Excel
  const workbook = new ExcelJS.Workbook();

  // Добавление нового листа
  const worksheet = workbook.addWorksheet('Справка');

  // Установка шрифта для всего документа
  worksheet.getCell('A1').font = { name: 'Times New Roman', size: 12 };

  // Установка шрифта для ячеек таблицы
  const tableStyle = { name: 'Times New Roman', size: 12 };
  worksheet.columns.forEach(column => {
    column.eachCell({ includeEmpty: true }, cell => {
      cell.font = tableStyle;
    });
  });

// Получение данных для таблицы
  const tableRows = document.getElementById('stat').querySelectorAll('tbody tr');





  // Запись информации о количестве в объединенную область
  worksheet.mergeCells('A6:H8');
  const infoCell = worksheet.getCell('A6');

  const infoData = 'По состоянию на '+date+' года в объединениях ГБУ ДО "ЦРТДиЮ им. В.М. Комарова" занимаются '+num_all+' учащихся, из которых мальчиков '+num_m+', девочек '+num_f+', граждан РФ - '+num_rf+', РК - '+num_rk+', Др. - '+num_o+'.';

 infoCell.value = infoData;
  infoCell.font = { name: 'Times New Roman', size: 12 };
 infoCell.alignment = { wrapText: true, vertical: 'middle' };

// Установка ширины столбцов по максимальной длине текста в ячейках
  worksheet.columns.forEach(column => {
    let maxCellWidth = 0;
    column.eachCell({ includeEmpty: true }, cell => {
      const cellWidth = cell.value ? cell.value.toString().length : 10;
      if (cellWidth > maxCellWidth) {
        maxCellWidth = cellWidth;
      }
    });
    const maxTextWidth = Math.min(maxCellWidth, 30); // Максимальная ширина текста в ячейке (ограничение)
    const columnWidth = Math.min(maxTextWidth + 2, 70); // Максимальная ширина столбца (ограничение)
    column.width = column.actualWidth < columnWidth ? columnWidth : column.actualWidth;
  });


  //// Запись данных таблицы из HTML
  //const table = document.getElementById('stat');
  //const tableData = Array.from(table.rows).map(row =>
  //  Array.from(row.cells).map(cell => cell.textContent)
  //);
  //worksheet.addRows(tableData);

  // Запись данных таблицы из HTML
const table = document.getElementById('stat');
const tableData = Array.from(table.rows).map(row =>
  Array.from(row.cells).map(cell => {
    const value = cell.innerHTML; // или cell.innerHTML
    return !isNaN(parseFloat(value)) ? parseFloat(value) : value;
  })
);
worksheet.addRows(tableData);

// Определение диапазона добавленных ячеек
const startRow = 9; // Начальная строка таблицы
const endRow = startRow + tableData.length - 1; // Конечная строка таблицы
const range = `A${startRow}:H${endRow}`;

// Применение стиля шрифта к диапазону ячеек
worksheet.eachRow({ min: startRow, max: endRow }, row => {
  row.eachCell(cell => {
    cell.font = { name: 'Times New Roman', size: 12 };
  });
});

  // Установка стилей для заголовков таблицы
  worksheet.getRow(9).font = { name: 'Times New Roman', size: 12, bold: true };


// Добавление строки "Итого"
  const totalRow = worksheet.addRow([]);
  const totalLabelCell = totalRow.getCell(2); // Столбец B
  totalLabelCell.value = 'Итого';
  totalLabelCell.font = { name: 'Times New Roman', size: 12, bold: true };

  // Подсчет сумм столбцов C, D, E, F, G, H
  const sumFormula = `SUM(C10:C${tableRows.length + 9})`; // Формула суммы для столбца C
  const sumCell = totalRow.getCell(3); // Столбец C
  sumCell.value = { formula: sumFormula };
  sumCell.font = { name: 'Times New Roman', size: 12 };

  for (let i = 4; i <= 8; i++) {
    const columnLetter = getExcelColumnName(i);
    const sumFormula = `SUM(${columnLetter}10:${columnLetter}${tableRows.length + 9})`;
    const sumCell = totalRow.getCell(i);
    sumCell.value = { formula: sumFormula };
    sumCell.font = { name: 'Times New Roman', size: 12 };
  }

// Установка стиля границ для таблицы
for (let row = 9; row <= 10 + tableRows.length; row++) {
  for (let col = 1; col <= 8; col++) {
    const cell = worksheet.getCell(`${getColumnLetter(col)}${row}`);
    cell.border = {
      top: { style: 'thin' },
      left: { style: 'thin' },
      bottom: { style: 'thin' },
      right: { style: 'thin' }
    };
  }
}

// Установка шрифта для раздела кому
  worksheet.mergeCells('D1:H4');
  const fromCell = worksheet.getCell('F1');
  fromCell.value = 'Заместителю директора ГБУ ДО\n\"ЦРТДиЮ им. В.М. Комарова\"\nИбрагимовой Н.Д.';
  fromCell.font = { name: 'Times New Roman', size: 12, bold: true };
  fromCell.alignment = { wrapText: true, horizontal: 'right', vertical: 'top' };

  // Установка шрифта для заголовка "СПРАВКА"
  worksheet.mergeCells('A5:H5');
  const titleCell = worksheet.getCell('A5');
  titleCell.value = 'СПРАВКА';
  titleCell.font = { name: 'Times New Roman', size: 12, bold: true };
  titleCell.alignment = { horizontal: 'center' };


  // Генерация Excel-документа
  workbook.xlsx.writeBuffer().then(buffer => {
    // Преобразование книги в формат массива байтов
    const excelBuffer = new Uint8Array(buffer);

    // Создание Blob из массива байтов
    const blob = new Blob([excelBuffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

    // Создание URL-адреса для Blob
    const url = URL.createObjectURL(blob);

    // Создание ссылки для скачивания файла
    const link = document.createElement('a');
    link.href = url;
    link.download = 'Справка по воспитанникам.xlsx';

    // Добавление ссылки на страницу
    document.body.appendChild(link);

    // Клик по ссылке для скачивания файла
    link.click();

    // Удаление ссылки после скачивания файла
    document.body.removeChild(link);
  });
}
// Вспомогательная функция для получения имени столбца по индексу (A, B, C, ...)
function getExcelColumnName(index) {
  let columnName = '';
  while (index > 0) {
    const remainder = (index - 1) % 26;
    columnName = String.fromCharCode(65 + remainder) + columnName;
    index = Math.floor((index - 1) / 26);
  }
  return columnName;
}

function getColumnLetter(columnIndex) {
  const alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
  const letterIndex = (columnIndex - 1) % 26;
  const letter = alphabet[letterIndex];
  const repeatCount = Math.floor((columnIndex - 1) / 26);
  return repeatCount > 0 ? `${alphabet[repeatCount - 1]}${letter}` : letter;
}
</script>

</body>
</html>
</body>
</html>