<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Расписание</title>
    <style>
    table td {
      cursor: pointer;
    }


    </style>
</head>
<body>
<div class="container">
    <h1>Недельное почасовое расписание</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
            <th>Воскресенье</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn08"><label class="form-check-label" for="pn08">08:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt08"><label class="form-check-label" for="pn08">08:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr08"><label class="form-check-label" for="pn08">08:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch08"><label class="form-check-label" for="pn08">08:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt08"><label class="form-check-label" for="pn08">08:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb08"><label class="form-check-label" for="pn08">08:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs08"><label class="form-check-label" for="pn08">08:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn09"><label class="form-check-label" for="pn09">09:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt09"><label class="form-check-label" for="pn09">09:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr09"><label class="form-check-label" for="pn09">09:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch09"><label class="form-check-label" for="pn09">09:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt09"><label class="form-check-label" for="pn09">09:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb09"><label class="form-check-label" for="pn09">09:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs09"><label class="form-check-label" for="pn09">09:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn10"><label class="form-check-label" for="pn10">10:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt10"><label class="form-check-label" for="pn10">10:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr10"><label class="form-check-label" for="pn10">10:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch10"><label class="form-check-label" for="pn10">10:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt10"><label class="form-check-label" for="pn10">10:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb10"><label class="form-check-label" for="pn10">10:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs10"><label class="form-check-label" for="pn10">10:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn11"><label class="form-check-label" for="pn11">11:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt11"><label class="form-check-label" for="pn11">11:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr11"><label class="form-check-label" for="pn11">11:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch11"><label class="form-check-label" for="pn11">11:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt11"><label class="form-check-label" for="pn11">11:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb11"><label class="form-check-label" for="pn11">11:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs11"><label class="form-check-label" for="pn11">11:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn12"><label class="form-check-label" for="pn12">12:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt12"><label class="form-check-label" for="pn12">12:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr12"><label class="form-check-label" for="pn12">12:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch12"><label class="form-check-label" for="pn12">12:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt12"><label class="form-check-label" for="pn12">12:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb12"><label class="form-check-label" for="pn12">12:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs12"><label class="form-check-label" for="pn12">12:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn13"><label class="form-check-label" for="pn13">13:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt13"><label class="form-check-label" for="pn13">13:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr13"><label class="form-check-label" for="pn13">13:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch13"><label class="form-check-label" for="pn13">13:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt13"><label class="form-check-label" for="pn13">13:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb13"><label class="form-check-label" for="pn13">13:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs13"><label class="form-check-label" for="pn13">13:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn14"><label class="form-check-label" for="pn14">14:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt14"><label class="form-check-label" for="pn14">14:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr14"><label class="form-check-label" for="pn14">14:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch14"><label class="form-check-label" for="pn14">14:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt14"><label class="form-check-label" for="pn14">14:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb14"><label class="form-check-label" for="pn14">14:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs14"><label class="form-check-label" for="pn14">14:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn15"><label class="form-check-label" for="pn15">15:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt15"><label class="form-check-label" for="pn15">15:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr15"><label class="form-check-label" for="pn15">15:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch15"><label class="form-check-label" for="pn15">15:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt15"><label class="form-check-label" for="pn15">15:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb15"><label class="form-check-label" for="pn15">15:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs15"><label class="form-check-label" for="pn15">15:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn16"><label class="form-check-label" for="pn16">16:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt16"><label class="form-check-label" for="pn16">16:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr16"><label class="form-check-label" for="pn16">16:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch16"><label class="form-check-label" for="pn16">16:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt16"><label class="form-check-label" for="pn16">16:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb16"><label class="form-check-label" for="pn16">16:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs16"><label class="form-check-label" for="pn16">16:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn17"><label class="form-check-label" for="pn17">17:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt17"><label class="form-check-label" for="pn17">17:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr17"><label class="form-check-label" for="pn17">17:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch17"><label class="form-check-label" for="pn17">17:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt17"><label class="form-check-label" for="pn17">17:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb17"><label class="form-check-label" for="pn17">17:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs17"><label class="form-check-label" for="pn17">17:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn18"><label class="form-check-label" for="pn18">18:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt18"><label class="form-check-label" for="pn18">18:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr18"><label class="form-check-label" for="pn18">18:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch18"><label class="form-check-label" for="pn18">18:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt18"><label class="form-check-label" for="pn18">18:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb18"><label class="form-check-label" for="pn18">18:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs18"><label class="form-check-label" for="pn18">18:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn19"><label class="form-check-label" for="pn19">19:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt19"><label class="form-check-label" for="pn19">19:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr19"><label class="form-check-label" for="pn19">19:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch19"><label class="form-check-label" for="pn19">19:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt19"><label class="form-check-label" for="pn19">19:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb19"><label class="form-check-label" for="pn19">19:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs19"><label class="form-check-label" for="pn19">19:00</label></div></td>
        </tr>
        <tr>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pn20"><label class="form-check-label" for="pn20">20:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vt20"><label class="form-check-label" for="pn20">20:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sr20"><label class="form-check-label" for="pn20">20:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ch20"><label class="form-check-label" for="pn20">20:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pt20"><label class="form-check-label" for="pn20">20:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sb20"><label class="form-check-label" for="pn20">20:00</label></div></td>
            <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="vs20"><label class="form-check-label" for="pn20">20:00</label></div></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const buttons = document.querySelectorAll("button");
      buttons.forEach(button => {
        const checkbox = button.querySelector("input[type='checkbox']");
        button.addEventListener("click", function() {
          checkbox.checked = !checkbox.checked;
          button.classList.toggle("btn-outline-success");
        });
      });
    });


</script>
</body>
</html>