<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title th:text="${title}"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/google-font.css">
    <style>
        :root {
            --bs-body-color: #000000;
        }
        .table {
            --bs-table-border-color: #000000;
        }

//#header {
//  position: relative;
//}
//
//#header::before {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-image: url('/img/header.png');
//  background-position: center;
//  background-size: cover;
//  z-index: -1;
//}
//
//#header:hover::before {
//  transform: scale(1.1);
//}
    </style>
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <h1>Расписание кружков по дням недели</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Наименование объединения</th>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
            <th>Воскресенье</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>Ансамбль "Ромашки"</strong><br>преп: Иванов И.И.</td>
            <td>15:00-16:30<br>каб. 101</td>
            <td></td>
            <td>15:00-16:30<br>каб. 101</td>
            <td></td>
            <td>15:00-16:30<br>каб. 101</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Хореографический кружок</strong><br>преп: Сидорова О.П.</td>
            <td></td>
            <td>14:00-15:30<br>каб. 102</td>
            <td></td>
            <td>14:00-15:30<br>каб. 102</td>
            <td></td>
            <td>14:00-15:30<br>каб. 102</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Каратэ</strong><br>преп: Ким Р.А.</td>
            <td></td>
            <td>16:00-17:30<br>каб. 103</td>
            <td>16:00-17:30<br>каб. 103</td>
            <td>16:00-17:30<br>каб. 103</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
<script>
//const header = document.getElementById("header");
//header.addEventListener("mousemove", (e) => {
//  const x = e.clientX / window.innerWidth;
//  const y = e.clientY / window.innerHeight;
//  header.style.backgroundPosition = `${x * 100}% ${y * 100}%`;
//});
</script>
</body>

</html>