<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="sidebar">
    <div class="offcanvas offcanvas-start p-2" tabindex="-1" id="offcanvas" data-bs-keyboard="false"
         data-bs-backdrop="false" style="width: 250px">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title d-none d-sm-block">Специалист</h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <li class="nav-item">
                    <a href="/spec/list-kids" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Воспитанники</span>
                    </a>
                </li>
                <li>
                    <a href="/spec/list-teachers" class="nav-link text-truncate">
                        <span class="ms-1 d-none d-sm-inline">Педагоги</span> </a>
                </li>
                <li>
                    <a href="/spec/list-meropriyatiya" class="nav-link text-truncate">
                        <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Мероприятия</span></a>
                </li>
                <li>
                    <a href="/spec/dost-list" class="nav-link text-truncate">
                        <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Достижения</span></a>
                </li>
                <li class="p-4">
                    <a class="btn btn-toggle d-inline-flex align-items-center nav-link px-0 collapsed"
                       data-bs-toggle="collapse" data-bs-target="#krujki-collapse" aria-expanded="false">
                        Кружки
                    </a>
                    <div class="collapse ml-4" id="krujki-collapse">
                        <div class="alert">
                            <ul class="btn-toggle-nav list-unstyled fw-normal small">
                                <li><a href="/spec/kruj-ca"
                                       class="nav-link px-0">Творческие
                                    объединения</a></li>
                                <li><a href="/spec/kruj-type-list"
                                       class="nav-link px-0">Типы кружков</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="p-4">
                    <a class="btn btn-toggle d-inline-flex align-items-center nav-link px-0 collapsed"
                       data-bs-toggle="collapse" data-bs-target="#stat-collapse" aria-expanded="false">
                        Статистика
                    </a>
                    <div class="collapse ml-4" id="stat-collapse">
                        <div class="alert">
                            <ul class="btn-toggle-nav list-unstyled fw-normal small">
                                <li><a href="/spec/stat-kids"
                                       class="nav-link px-0">Статистика по ученикам и творческим объединениям</a></li>
                            </ul>
<!--                            <ul class="btn-toggle-nav list-unstyled fw-normal small">-->
<!--                                <li><a href="/spec/diagram"-->
<!--                                       class="nav-link px-0">Статистика по мероприятиям</a></li>-->
<!--                            </ul>-->
                            <ul class="btn-toggle-nav list-unstyled fw-normal small">
                                <li><a href="/spec/stat-teacher"
                                       class="nav-link px-0">Статистика по педагогам</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
