<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Форма ввода данных воспитанника</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header2 :: header2"></header>
<div th:insert="blocks/sidebar :: sidebar"></div>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-5">Данные воспитанника</h1>
<!--            <form action="/spec/kid-add" method="post" th:target="${formTarget}">-->
            <div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="surname" name="surname" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="patronymic" class="form-label">Отчество</label>
                    <input type="text" class="form-control" id="patronymic" name="patronymic">
                </div>

                <div class="mb-3">
                    <label for="birthday" class="form-label">Дата рождения</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" required>
                </div>
                <div class="mb-3">
                    <label for="sex" class="form-label">Пол</label>
                    <select class="form-control" id="sex" name="sex" required>
                        <option value="male">Мужской</option>
                        <option value="female">Женский</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="grazhdanstvo" class="form-label">Гражданство</label>
                    <input type="text" class="form-control" id="grazhdanstvo" name="grazhdanstvo" required>
                </div>
                <div class="mb-3">
                    <label for="adres" class="form-label">Адрес</label>
                    <input type="text" class="form-control" id="adres" name="adres" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Телефон</label>
                    <input type="tel" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="mb-3">
                    <label for="school" class="form-label">Школа</label>
                    <input type="text" class="form-control" id="school" name="school">
                </div>
                <div class="mb-3">
                    <label for="klas" class="form-label">Класс</label>
                    <input type="text" class="form-control" id="klas" name="klas">
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-secondary" id="clear-btn">Очистить поля</button>
                    <button type="submit" class="btn btn-primary" id="save-btn">Сохранить</button>
                </div>
<!--            </form>-->
            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script>
// очистка полей ввода данных
document.getElementById("clear-btn").addEventListener("click", function() {
	location.reload();
});
// валидация формы при отправке
document.getElementById("save-btn").addEventListener("click", function(event) {
	event.preventDefault(); // отменяем отправку формы по умолчанию
	// получаем значения полей ввода
	var surname = document.getElementById("surname").value;
	var name = document.getElementById("name").value;
	var patronymic = document.getElementById("patronymic").value;
	var birthday = document.getElementById("birthday").value;
	var sex = document.getElementById("sex").value;
	var grazhdanstvo = document.getElementById("grazhdanstvo").value;
	var adres = document.getElementById("adres").value;
	var phone = document.getElementById("phone").value;
	var school = document.getElementById("school").value;
	var klas = document.getElementById("klas").value;
	// регулярные выражения для проверки формата телефона и даты рождения
	var phoneRegExp = /^\+?\d{10,12}$/;;
	// проверяем формат телефона
	if(!phoneRegExp.test(phone)) {
		alert("Номер телефона должен быть в формате: +XXXXXXXXXXX (от 10 до 12 цифр)");
		return;
	}
	// Генерируем уникальный логин, используя первую букву имени, полностью фамилию и случайное число от 0 до 9999
	var username = transliterate(surname) + transliterate(name) + Math.floor(Math.random() * 10000);
	// Генерируем уникальный пароль, используя первые три буквы фамилии, длину имени и случайную строку из символов
	var password = transliterate(surname.slice(0, 3)) + name.length + Math.random().toString(36).slice(-8);
	downloadTextFile("Логин: " + username + "\n" + "Пароль: " + password, "Логин и пароль для доступа к личному кабинету " + surname + ".txt")
	post('/spec/kid-add/' + surname + '/' + name + '/' + patronymic + '/' + birthday + '/' + sex + '/' + grazhdanstvo + '/' + adres + '/' + phone + '/' + school + '/' + klas + '/' + username + '/' + password);
});

function transliterate(str) {
	const cyrillicChars = {
		"а": "a",
		"б": "b",
		"в": "v",
		"г": "g",
		"д": "d",
		"е": "e",
		"ё": "yo",
		"ж": "zh",
		"з": "z",
		"и": "i",
		"й": "j",
		"к": "k",
		"л": "l",
		"м": "m",
		"н": "n",
		"о": "o",
		"п": "p",
		"р": "r",
		"с": "s",
		"т": "t",
		"у": "u",
		"ф": "f",
		"х": "h",
		"ц": "c",
		"ч": "ch",
		"ш": "sh",
		"щ": "shh",
		"ъ": "",
		"ы": "y",
		"ь": "",
		"э": "e",
		"ю": "yu",
		"я": "ya"
	};
	return str.split("").map(function(char) {
		return cyrillicChars[char.toLowerCase()] || char;
	}).join("");
}

function downloadTextFile(text, fileName) {
	// Создаем элемент ссылки в DOM
	var link = document.createElement('a');
	link.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
	link.setAttribute('download', fileName);
	// Скрываем элемент ссылки в DOM
	link.style.display = 'none';
	document.body.appendChild(link);
	// Имитируем клик по ссылке, чтобы начать загрузку файла
	link.click();
	// Удаляем элемент ссылки из DOM
	document.body.removeChild(link);
}

function post(path, method = 'post') {
	const form = document.createElement('form');
	form.method = method;
	form.action = path;
	const hiddenField = document.createElement('input');
	hiddenField.type = 'hidden';
	form.appendChild(hiddenField);
	document.body.appendChild(form);
	form.submit();
}
	</script>
</body>
</html>