<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Форма редактирования данных мероприятия</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header2 :: header2"></header>
<!-- Modal windows for accepting delete -->
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<div th:insert="blocks/sidebar :: sidebar"></div>

<div class="container py-5">
    <div class="justify-content-center">
        <div class="alert alert-info" style="box-shadow: 0px 0px 4px;">
            <h3 class="text-center mb-5">Данные мероприятия</h3>
            <form th:object="${merop}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Наименование мероприятия</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="data" class="form-label">Дата и время проведения</label>
                    <input type="datetime-local" class="form-control" th:field="*{data}" id="data" name="data" required>
                </div>
                <div class="mb-3">
                    <label for="place" class="form-label">Место проведения</label>
                    <input type="text" class="form-control" id="place" th:field="*{place}" name="place">
                </div>

                <div class="mb-3">
                    <label for="type" class="form-label">Тип мероприятия</label>
                    <select class="form-control" th:field="*{type}" id="type" name="type" required>
                        <option value="0" disabled>-- Выберите --</option>
                        <option th:each="t : ${types}" th:value="${t.name}" th:text="${t.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="level" class="form-label">Уровень мероприятия</label>
                    <select class="form-select" th:field="*{level}" id="level" name="level">
                        <option disabled value="0">-- Выберите --</option>
                        <option th:each="l : ${levels}" th:value="${l.name}" th:text="${l.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="otvetstvenniy" class="form-label">Ответственный</label>
                    <input type="text" class="form-control" th:field="*{otvetstvenniy}" id="otvetstvenniy" name="otvetstvenniy" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-secondary" id="clear-btn">Очистить поля</button>
                    <button type="button" class="btn btn-primary" th:onclick="'javascript:save(\'' + *{id} + '\');'"
                            id="save-btn">Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script>
function save(id) {
	var name = document.getElementById("name").value;
    var data = document.getElementById("data").value;
    var place = document.getElementById("place").value;
    var type = document.getElementById("type").value;
    var level = document.getElementById("level").value;
    var otvetstvenniy= document.getElementById("otvetstvenniy").value;

	post('/spec/meropriyatiya/edit/' + id + '/' + name+'/'+ data+'/'+ place+'/'+ type+'/'+ level+'/'+ otvetstvenniy);
}

function post(path, method = 'post') {
	const form = document.createElement('form');
	form.method = method;
	form.action = path;
	const hiddenField = document.createElement('input');
	hiddenField.type = 'hidden';
	form.appendChild(hiddenField);
	document.body.appendChild(form);
	form.submit();
}

// очистка полей ввода данных
document.getElementById("clear-btn").addEventListener("click", function() {
	document.getElementById("name").value = "";
    document.getElementById("data").value = "";
    document.getElementById("place").value = "";
    document.getElementById("type").value = "";
    document.getElementById("level").value = "";
});

</script>
</body>
</html>