<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Нормы</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        :root {
            --bs-body-color: #000000;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header2 :: header2"></header>
<div th:insert="blocks/sidebar :: sidebar"></div>
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-5">Нормы обучения по направлениям</h1>
            <div class="alert alert-info mb-2">
                <div class="form-norma" th:fragment="form-norma">
                    <div th:object="${norma}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="type" class="form-label">Направление</label>
                                    <select class="form-control" id="type" name="type" th:field="*{typeKrujok.id}"
                                            required>
                                        <option value="0" selected disabled>-- Выберите направление --</option>
                                        <option th:each="te : ${types}" th:value="${te.id}"
                                                th:text="${te.name}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="age" class="form-label">Возрастная группа</label>
                                    <select class="form-select" id="age" name="age" th:field="*{age}"
                                            title="Возраст воспитанников">
                                        <option value="0" selected disabled>-- Выберите возраст --</option>
                                        <option value="3-5">3-5 лет</option>
                                        <option value="6-8">6-8 лет</option>
                                        <option value="9-11">9-11 лет</option>
                                        <option value="12-15">12-15 лет</option>
                                        <option value="16-17">16-17 лет</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="hoursPerWeek" class="form-label">Кол-во академических часов в неделю</label>
                                    <input type="number" class="form-control" th:field="*{hoursPerWeek}"
                                           id="hoursPerWeek"
                                           name="hoursPerWeek" placeholder="Кол-во часов в неделю"
                                           title="Кол-во часов в неделю">
                                </div>
                                <div class="mb-3">
                                    <label for="hoursPerDay" class="form-label">Кол-во академических часов в день</label>
                                    <input type="number" class="form-control" th:field="*{hoursPerDay}" id="hoursPerDay"
                                           name="hoursPerDay" placeholder="Кол-во часов в день"
                                           title="Кол-во часов в день">
                                </div>
                            </div>
                            <div class="container mt-1 form-actions floatRight">
                                <button class="btn btn-success" th:onclick="'javascript:save(\'' + *{id} + '\');'"
                                        th:if="${norma != null and norma.age != null and norma.age != ''}">Сохранить
                                </button>
                                <button th:unless="${norma != null and norma.age != null and norma.age != ''}"
                                        class="btn btn-success" th:onclick="'javascript:save2();'">Сохранить
                                </button>
                            </div>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
            <div class="norma-type"
                 th:fragment="norma-type">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Направление</th>
                        <th>Возраст</th>
                        <th>Часы в неделю</th>
                        <th>Часы в день</th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="n : ${norms}">
                        <td th:text="${n.typeKrujok.name}"></td>
                        <td th:text="${n.age}"></td>
                        <td th:text="${n.hoursPerWeek}"></td>
                        <td th:text="${n.hoursPerDay}"></td>
                        <td class="text-md-end">
                            <button class="btn btn-outline-warning btn-sm"
                                    th:onclick="'javascript:edit(\'' + ${n.id} + '\');'"
                                    title="Редактировать">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em"
                                     height="1em"
                                     fill="currentColor">
                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"></path>
                                </svg>
                            </button>
                            <button class="btn btn-outline-danger btn-sm"
                                    th:onclick="'javascript:showDeleteModalWindow(\'' + ${n.id} + '\');'"
                                    title="Удалить">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em"
                                     height="1em"
                                     fill="currentColor">
                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M160 400C160 408.8 152.8 416 144 416C135.2 416 128 408.8 128 400V192C128 183.2 135.2 176 144 176C152.8 176 160 183.2 160 192V400zM240 400C240 408.8 232.8 416 224 416C215.2 416 208 408.8 208 400V192C208 183.2 215.2 176 224 176C232.8 176 240 183.2 240 192V400zM320 400C320 408.8 312.8 416 304 416C295.2 416 288 408.8 288 400V192C288 183.2 295.2 176 304 176C312.8 176 320 183.2 320 192V400zM317.5 24.94L354.2 80H424C437.3 80 448 90.75 448 104C448 117.3 437.3 128 424 128H416V432C416 476.2 380.2 512 336 512H112C67.82 512 32 476.2 32 432V128H24C10.75 128 0 117.3 0 104C0 90.75 10.75 80 24 80H93.82L130.5 24.94C140.9 9.357 158.4 0 177.1 0H270.9C289.6 0 307.1 9.358 317.5 24.94H317.5zM151.5 80H296.5L277.5 51.56C276 49.34 273.5 48 270.9 48H177.1C174.5 48 171.1 49.34 170.5 51.56L151.5 80zM80 432C80 449.7 94.33 464 112 464H336C353.7 464 368 449.7 368 432V128H80V432z"></path>
                                </svg>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    var id_del;

function showDeleteModalWindow(id) {
	id_del = id;
	document.getElementById("delete-object").innerHTML = "Вы точно хотите удалить?";
	$("#deleteAccept").modal('show');
}

function closeModalWindow() {
	$("#deleteAccept").modal('hide');
}

function deleteObject() {
	post('/spec/norma/del/' + id_del);
}

function save(id){
    var type = document.getElementById("type").value;
    var age = document.getElementById("age").value;
    var hoursPerWeek = document.getElementById("hoursPerWeek").value;
    var hoursPerDay = document.getElementById("hoursPerDay").value;

    post('/spec/norma/edit/'+id+'/'+type+'/'+age+'/'+hoursPerWeek+'/'+hoursPerDay);
}

function save2(id){
    var type = document.getElementById("type").value;
    var age = document.getElementById("age").value;
    var hoursPerWeek = document.getElementById("hoursPerWeek").value;
    var hoursPerDay = document.getElementById("hoursPerDay").value;

    post('/spec/norma/save-new/'+type+'/'+age+'/'+hoursPerWeek+'/'+hoursPerDay);
}

function edit(id){
    $.ajax({
		type: 'get',
		url: '/spec/norma/edit/' + id,
		success: function(data) {
			$('.form-norma').html(data);
		},
	})
}

function post(path, method = 'post') {
	const form = document.createElement('form');
	form.method = method;
	form.action = path;
	const hiddenField = document.createElement('input');
	hiddenField.type = 'hidden';
	form.appendChild(hiddenField);
	document.body.appendChild(form);
	form.submit();
}






</script>

</body>
</html>