<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Портфолио воспитанника</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        :root {
            --bs-body-color: #000000;
        }



    </style>
</head>
<body>
<header th:insert="blocks/header2 :: header2"></header>

<!-- Modal windows for accepting delete -->
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<div th:insert="blocks/sidebar :: sidebar"></div>
<!-- модальное окно записи на кружок -->
<div class="modal fade" id="zapis-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Запись на кружок</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="kruj-table"
                     th:fragment="kruj-table">
                    <div class="mb-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="search-input" placeholder="Поиск...">
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Кружок</th>
                                <th>Объединение</th>
                                <th>Направление</th>
                                <th>Возрастная группа</th>
                                <th>Педагоги</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="k : ${krujki}">
                                <td th:text="${k.name}"></td>
                                <td th:text="${k.creativeAssociation.name}"></td>
                                <td th:text="${k.typeKrujok.name}"></td>
                                <td th:text="${k.vozrast}"></td>
                                <td>
                                    <div th:each="t: ${k.teachers}">
                                        <p th:text="${t.getShortFIO}"></p>
                                    </div>
                                </td>
                                <td class="text-md-end">
                                    <button class="btn btn-outline-success" title="Записаться"
                                            th:onclick="'javascript:addKidToKrujok(\'' + ${k.id} + '\');'">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" style="font-size: 15px;">
                                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM224 368C237.3 368 248 357.3 248 344V280H312C325.3 280 336 269.3 336 256C336 242.7 325.3 232 312 232H248V168C248 154.7 237.3 144 224 144C210.7 144 200 154.7 200 168V232H136C122.7 232 112 242.7 112 256C112 269.3 122.7 280 136 280H200V344C200 357.3 210.7 368 224 368z"></path>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--                <button type="button" class="btn btn-success" data-bs-dismiss="modal"-->
                <!--                        th:onclick="'javascript:saveP();'">Сохранить-->
                <!--                </button>-->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- модальное окно удаление записи кружка -->
<div class="modal fade" id="otpis-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выход из кружка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="kruj-table-vih"
                     th:fragment="kruj-table-vih">
                    <div class="mb-3">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Кружок</th>
                                <th>Объединение</th>
                                <th>Направление</th>
                                <th>Возрастная группа</th>
                                <th>Педагоги</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="k : ${kr}">
                                <td th:text="${k.name}"></td>
                                <td th:text="${k.creativeAssociation.name}"></td>
                                <td th:text="${k.typeKrujok.name}"></td>
                                <td th:text="${k.vozrast}"></td>
                                <td>
                                    <div th:each="t: ${k.teachers}">
                                        <p th:text="${t.getShortFIO}"></p>
                                    </div>
                                </td>
                                <td class="text-md-end">
                                    <button class="btn btn-outline-danger" title="Отписаться"
                                            th:onclick="'javascript:delKidFromKrujok(\'' + ${k.id} + '\');'">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -64 640 640" width="1em" height="1em" fill="currentColor" style="font-size: 15px;">
                                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path d="M274.7 304H173.3C77.61 304 0 381.6 0 477.3C0 496.5 15.52 512 34.66 512h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304zM224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM616 200h-144C458.8 200 448 210.8 448 224s10.75 24 24 24h144C629.3 248 640 237.3 640 224S629.3 200 616 200z"></path>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <!--    <div class="col-md-4">-->
        <!--      <img src="https://placehold.it/200x200" alt="Фото воспитанника" class="img-fluid rounded">-->
        <!--    </div>-->
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 row">
                    <div class="col-md-10"><h1 th:text="${kid?.getFullFIO()}">ФИО воспитанника</h1></div>

                    <div class="col-md-2">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button"
                                    class="btn button-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">

                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item" href="#">Экспорт</a></li>
                                <li>
                                    <button class="dropdown-item" onclick="openKrujkiModal()">Записать на кружок
                                    </button>
                                </li>
                                <li><button class="dropdown-item" onclick="openDelKrujkiModal()">Выход из кружка</button></li>
                            </ul>
                        </div>
                    </div>

                    <p th:inline='text'>
                        <strong>Дата рождения:</strong>
                        [[${#dates.format(kid?.birthday, 'dd.MM.yyyy')}]]
                    </p>
                    <p th:inline='text'>
                        <strong>Пол:</strong>
                        [[${kid?.sex} ? 'Мужской' : 'Женский']]
                    </p>
                    <p th:inline='text'>
                        <strong>Гражданство:</strong>
                        [[${kid?.grazhdanstvo}]]
                    </p>
                    <p th:inline='text'>
                        <strong>Адрес:</strong>
                        [[${kid?.adres}]]
                    </p>
                    <p th:inline='text'>
                        <strong>Телефон:</strong>
                        [[${kid?.phone}]]
                    </p>
                </div>

                <div class="col-md-6">
                    <h2 class="mt-4">Информация о законных представителях:</h2>
                    <div th:each="p : ${parents}">
                        <p th:inline='text'>
                            <strong>ФИО:</strong>
                            [[${p?.getFullFIO()}]]
                        </p>
                        <p th:inline='text'>
                            <strong>Телефон:</strong>
                            [[${p?.phone}]]
                        </p>
                        <p th:inline='text'>
                            <strong>Адрес:</strong>
                            [[${p?.adres}]]
                        </p>
                        <p th:inline='text'>
                            <strong>E-mail:</strong>
                            [[${p?.email}]]
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <h3 class="mt-4">Кружки и успеваемость:</h3>
            <div class="krujki-list" th:fragment="krujki-list">
                <ul>
                    <li th:each="krujok : ${marks}" th:text="${krujok.key} + ' ср. оценка: ' + ${krujok.value}"></li>
                </ul>
            </div>
            <h3 class="mt-4">Достижения и призовые места:</h3>
            <ul>
                <li th:each="d : ${dost}" th:text="${d.meropriyatie.name}+': '+${d.name}+' '+${d.winPlace}"></li>
            </ul>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
function openKrujkiModal(){
    $('#zapis-modal').modal('show');
}

function addKidToKrujok(id){
    $.ajax({
		type: 'get',
		url: '/spec/portfolio/add-to-kruj/' + id,
		success: function(data) {
			$('.kruj-table').html(data);
			//updateKrujList();
		},
	})
}

function openDelKrujkiModal(){
    $('#otpis-modal').modal('show');
}

function delKidFromKrujok(id){
    $.ajax({
		type: 'get',
		url: '/spec/portfolio/del-from-kruj/' + id,
		success: function(data) {
			$('.kruj-table-vih').html(data);
		},
	})
}

function updateKrujList(){
    $.ajax({
		type: 'get',
		url: '/spec/portfolio/update-kruj/',
		success: function(data) {
			$('.krujki-list').html(data);
		},
	})
}

</script>
</body>
</html>