<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список преподавателей</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header2 :: header2"></header>

<!-- Modal windows for accepting delete -->
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<div th:insert="blocks/sidebar :: sidebar"></div>
<div class="container main-content">

    <h1 class="text-center mb-4">Список преподавателей</h1>
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" id="search-input" placeholder="Поиск...">
        </div>
        <div class="col-md-6 text-md-end">
            <a class="btn btn-outline-info" id="add-btn" href="/spec/teacher-add" title="Добавить преподавателя">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" width="1em" height="1em" fill="currentColor" style="width: 25px;height: 25px;">
                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M208 48C208 74.51 186.5 96 160 96C133.5 96 112 74.51 112 48C112 21.49 133.5 0 160 0C186.5 0 208 21.49 208 48zM152 352V480C152 497.7 137.7 512 120 512C102.3 512 88 497.7 88 480V256.9L59.43 304.5C50.33 319.6 30.67 324.5 15.52 315.4C.3696 306.3-4.531 286.7 4.573 271.5L62.85 174.6C80.2 145.7 111.4 128 145.1 128H174.9C208.6 128 239.8 145.7 257.2 174.6L302.1 249.3C285.1 266.9 273.4 287.7 265.5 310.8C263.6 308.9 261.1 306.8 260.6 304.5L232 256.9V480C232 497.7 217.7 512 200 512C182.3 512 168 497.7 168 480V352L152 352zM288 368C288 288.5 352.5 224 432 224C511.5 224 576 288.5 576 368C576 447.5 511.5 512 432 512C352.5 512 288 447.5 288 368zM448 303.1C448 295.2 440.8 287.1 432 287.1C423.2 287.1 416 295.2 416 303.1V351.1H368C359.2 351.1 352 359.2 352 367.1C352 376.8 359.2 383.1 368 383.1H416V431.1C416 440.8 423.2 447.1 432 447.1C440.8 447.1 448 440.8 448 431.1V383.1H496C504.8 383.1 512 376.8 512 367.1C512 359.2 504.8 351.1 496 351.1H448V303.1z"></path>
                </svg>
            </a>
            <button class="btn btn-outline-success" id="export-btn" title="Экспорт таблицы в Excel">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-64 0 512 512" width="1em" height="1em" fill="currentColor" style="width: 25px;height: 25px;">
                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M224 128L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48V160h-127.1C238.3 160 224 145.7 224 128zM272.1 264.4L224 344l48.99 79.61C279.6 434.3 271.9 448 259.4 448h-26.43c-5.557 0-10.71-2.883-13.63-7.617L192 396l-27.31 44.38C161.8 445.1 156.6 448 151.1 448H124.6c-12.52 0-20.19-13.73-13.63-24.39L160 344L111 264.4C104.4 253.7 112.1 240 124.6 240h26.43c5.557 0 10.71 2.883 13.63 7.613L192 292l27.31-44.39C222.2 242.9 227.4 240 232.9 240h26.43C271.9 240 279.6 253.7 272.1 264.4zM256 0v128h128L256 0z"></path>
                </svg>
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t : ${teachers}">
            <td th:text="${t.getFullFIO()}"></td>
            <td th:text="${t.doljnost}"></td>
            <td class="text-md-end">
                <button class="btn btn-outline-info" th:onclick="'javascript:openInfo(\'' + ${t.id} + '\');'" title="Подробнее">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S224 177.7 224 160C224 142.3 238.3 128 256 128zM296 384h-80C202.8 384 192 373.3 192 360s10.75-24 24-24h16v-64H224c-13.25 0-24-10.75-24-24S210.8 224 224 224h32c13.25 0 24 10.75 24 24v88h16c13.25 0 24 10.75 24 24S309.3 384 296 384z"></path>
                    </svg>
                </button>
                <a class="btn btn-outline-warning" th:href="'/spec/list-teachers/edit/'+${t.id}" title="Редактировать">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"></path>
                    </svg>
                </a>
                <button class="btn btn-outline-danger" th:onclick="'javascript:showDeleteModalWindow(\'' + ${t.id} + '\');'" title="Удалить">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor">
                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M160 400C160 408.8 152.8 416 144 416C135.2 416 128 408.8 128 400V192C128 183.2 135.2 176 144 176C152.8 176 160 183.2 160 192V400zM240 400C240 408.8 232.8 416 224 416C215.2 416 208 408.8 208 400V192C208 183.2 215.2 176 224 176C232.8 176 240 183.2 240 192V400zM320 400C320 408.8 312.8 416 304 416C295.2 416 288 408.8 288 400V192C288 183.2 295.2 176 304 176C312.8 176 320 183.2 320 192V400zM317.5 24.94L354.2 80H424C437.3 80 448 90.75 448 104C448 117.3 437.3 128 424 128H416V432C416 476.2 380.2 512 336 512H112C67.82 512 32 476.2 32 432V128H24C10.75 128 0 117.3 0 104C0 90.75 10.75 80 24 80H93.82L130.5 24.94C140.9 9.357 158.4 0 177.1 0H270.9C289.6 0 307.1 9.358 317.5 24.94H317.5zM151.5 80H296.5L277.5 51.56C276 49.34 273.5 48 270.9 48H177.1C174.5 48 171.1 49.34 170.5 51.56L151.5 80zM80 432C80 449.7 94.33 464 112 464H336C353.7 464 368 449.7 368 432V128H80V432z"></path>
                    </svg>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Модальное окно с подробной информацией -->
<div class="modal fade" id="info-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подробная информация о преподавателе</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="info-teacher" style="max-height: 50vh; min-height: 30vh; overflow-y: auto;"
                     th:fragment="info-teacher">
                    <p th:inline='text'>
                        <strong>ФИО:</strong>
                        [[${teacher?.getFullFIO()}]]
                    </p>
                    <p th:inline='text'>
                        <strong>Должность:</strong>
                        [[${teacher?.doljnost}]]
                    </p>
                    <hr>
                    <h6>Ведет кружки</h6>
                    <div th:each="k : ${krujki}">
                        <p th:inline='text'>
                            [[${k?.name}]]
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/xlsx.full.min.js"></script>
<script>
// Показать модальное окно с подробной информацией
$('table').on('click', '.btn-info', function() {
	$('#info-modal').modal('show');
});

// Поиск по таблице
$('#search-input').on('keyup', function() {
	var value = $(this).val().toLowerCase();
	$('table tbody tr').filter(function() {
		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
	});
});

// Экспорт таблицы в Excel
$('#export-btn').on('click', function() {
	var wb = XLSX.utils.table_to_book($('table')[0], {
		sheet: "Sheet JS"
	});
	XLSX.writeFile(wb, 'список_преподавателей.xlsx');
});

function openInfo(id) {
	console.log(id);
	$.ajax({
		type: 'get',
		url: '/spec/list-teachers/info/' + id,
		success: function(data) {
			$('.info-teacher').html(data);
			$("#info-modal").modal('show');
		},
	})
}
var id_del;

function showDeleteModalWindow(id) {
	id_del = id;
	document.getElementById("delete-object").innerHTML = "Вы точно хотите удалить?";
	$("#deleteAccept").modal('show');
}

function closeModalWindow() {
	$("#deleteAccept").modal('hide');
}

function deleteObject() {
	post('/spec/list-teachers/del/' + id_del);
}

function post(path, method = 'post') {
	const form = document.createElement('form');
	form.method = method;
	form.action = path;
	const hiddenField = document.createElement('input');
	hiddenField.type = 'hidden';
	form.appendChild(hiddenField);
	document.body.appendChild(form);
	form.submit();
}

</script>

</body>
</html>